
a{
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.App {
    font-family: "Montserrat", sans-serif;
    background-color: #f8f8f8;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

}

.Main {
    padding-top: 5.5rem;
  }